@import '../theme/dark.scss';
@import '../theme/light.scss';

.button{
  padding: 10px 25px;
  border-radius: 6px;
  background: $button-bgc;
  box-shadow: 10px 10px 12px #dadada, -10px -10px 12px #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  &:hover{
    transition: 0.3s;
    box-shadow: -6px 6px 12px #dadada, 6px -6px 12px #fefefe;
  }
  &:active{
    transition: 0.1s;
    box-shadow: -3px 3px 2px #dadada, 3px -3px 2px #fefefe;
  }
}