.button{
  padding: 10px 25px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  &:hover{
    transition: 0.3s;
  }
  &:active{
    transition: 0.1s;
  }
}